/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2021, 7:54:07 PM
    Author     : maria
*/
button{

    font-size: 16px;  
    color: blue;
    padding: 10px 10px;
  
    font-family: inherit;
    border: none;
    
    align-content: center;

    margin: inherit; 
    display: block;
    text-align: center;
    border-radius: 20px;


}
